<ion-header>
  <ion-toolbar>
    <ion-title>post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="posts;else loading">
  <ion-card *ngFor="let post of posts">
    <ion-card-header>
      <ion-card-title (click)="viewPost(post.id)"
        >{{post.title}}
      </ion-card-title>
      <ion-card-subtitle
        ><ion-icon name="create-outline"></ion-icon>
        {{post.user.name}}</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>{{post.body}}</ion-card-content>
  </ion-card>
  <div class="ion-text-end" *ngIf="!loadComplete">
    <ion-button fill="clear" (click)="loadMorePosts()">Load 10 more</ion-button>
  </div>
</ion-content>
<ng-template #loading>
  <app-spinner-center></app-spinner-center>
</ng-template>
